.App{
    width: 100vw;
    height: 100vh;
}

body{
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    
}

::-webkit-scrollbar{
    background-color: rgb(18, 112, 112);
    display: none;
}

::-webkit-scrollbar-thumb{
    background: darkblue;
}

.Sidebar{
    height: 100%;
    width: 300px;
    background-color: #2F4050;
    margin: 0;
    position: fixed;
}

.SidebarList{
    height: 100%;
    padding: 0;
    width: 100%;
}

.SidebarList .row {
    width: 100%;
    height: 75px;
    list-style-type: none;
    margin: 0%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
} 

.SidebarList .row:hover{
    cursor: pointer;
    background-color: #293846;
}

.SidebarList #active{
    background-color: #1f2a34;
}

.row #icon{
    flex: 30%;
    display: grid;
    place-items: center;
}

.row #title{
    flex: 30%;
    padding-right: 20px;
}

nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(78, 186, 150);
    position: sticky;
    top: 0;
}

nav .title{
    font-size: 1.5rem;
    margin: 1rem;
    font-weight: bold;
    text-decoration: none;
    color: white;
}    

nav ul {
    display: flex;
}

nav ul li{
    list-style: none;
}

nav ul li a {
    display: block;
    text-decoration: none;
    color: white;
    padding: 0.5rem;
    margin: 0 0.5rem;
    border-radius: 0.5rem;
}

nav ul li a:not(.active):hover{
    background-color: rgb(116, 206, 176);
}

nav .active{
    background-color: rgb(16, 60, 60);
}